[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/vim_doxygentoolkit"]
	path = bundle/vim_doxygentoolkit
	url = git@github.com:vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/vim_python"]
	path = bundle/vim_python
	url = git@github.com:vim-scripts/python.vim--Vasiliev.git
